/************************************************************************************************/
/*--------------------------------- Styles : 91sanjay.github.com -------------------------------*/
/************************************************************************************************/


/* ======================== Grid and Misc =======================*/
body {
    background-color: #ffffff;
    position: relative;
}

ul {
    padding: 0;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.heading {
    display: block;
    text-align: center;
}

.heading h3 {
    display: inline-block;
    font-family: 'Cabin', sans-serif;
    margin-top: 35px;
    border-bottom: solid 2px #4C01B0;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.content {
    padding-left: 10px;
}

.sub-heading {
    margin: 25px 0;
    font-family: 'Cabin', sans-serif;
    display: inline-block;
}

.sub-heading::after {
    content: '';
    display: block;
    width: 50%;
    margin: 10px auto;
    border-top: 2px dotted red;
}

@media screen and (max-width: 768px) {
    .heading h3, .sub-heading {
        font-size: 1.4em;
    }
}

/* ========================= Navigation ======================== */
.nav-container {
    margin: 0;
}

.custom-nav {
    background-color: #58D7E5;
    background-image: linear-gradient(to right, #2E2E74, #4845AB);
    margin: 0;
    padding: 10px 15px;
    border: 0;
    border-radius: 0;
}

.navbar-default .navbar-brand {
    font-family: 'Sacramento', cursive;
    font-size: 2.2em;
    color: #FFFFFF;
    margin-left: 15px !important;
}

.navbar-brand:hover {
    color: #1F1F1F !important;
}

.nav > li {
    margin-right: 40px;
}

.navbar-right {
    margin-left: 15px;
    margin-right: 15px;
}

.nav-link {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 1.2em;
    color: #FFFFFF !important;
    padding: 15px 0 !important;
}

.navbar-default .navbar-toggle {
    border: 0;
    border-radius: 0;
}

.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
    border-radius: 0;
}

@media screen and (min-width: 768px) {
    .active a {
        background-color: transparent !important;
    }

    .active:after {
        display: block;
        position: absolute;
        left: 0;
        width: 100%;
        bottom: 5px;
        height: 3px;
        background-color: #0B0B0D;
        content: "";
        transition: width 0.7s;
    }

    .nav-link:after {
        display: block;
        position: absolute;
        left: 0;
        width: 0;
        bottom: 5px;
        height: 3px;
        background-color: #0B0B0D;
        content: "";
        transition: width 0.3s;
    }

    .nav-link:hover:after {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .navbar-nav li:hover {
        background-color: #1F1F1F;
        opacity: 0.8;
    }
    
    .nav-link {
        text-align: center;
        font-size: 1em;
        z-index: 1000;
        opacity: 1;
    }

    .navbar-collapse {
        border: 0;
    }

    .nav > li {
        margin-right: 0;
    }
}

@media screen and (max-width: 465px) {
    .navbar-default .navbar-brand {
        font-size: 1.8em;
    }
}

/* ========================= Jumbotron ======================== */
.hero {
    margin-top: 70px;
    background-color: #4DB0C0;
    background-image: linear-gradient(to right, #2E2E74, #4845AB);
}

.navbat-stick {
    background-color: #4DB0C0;
}

.scene-container img {
    width: 100%;
    height: auto;
}

@media screen and (min-width: 992px) {
     .scene-container img {
         width: 85%;
     }
}

@media screen and (max-width: 768px) {
    .scene-container {
        padding-left: 0;
        padding-right: 60px;
    }
}

/* =========================== Banner ========================== */
.banner {
    border-top: dotted 2px #ffffff;
    background-color: #25064C;
    height: 100px;
}

.banner-container {
    margin-top: 25px;
}

.full-stack {
    text-align: right;
    margin-top: 10px;
    margin-left: -30px;
}

.full-stack-header {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #ffffff;
    display: inline;
}

.code {
    padding-left: 20px;
}

.typehead {
    margin-top: 5px;
}

.element {
    font-size: 1.6em;
    color: #FF9D00;
    font-family: 'Droid Sans Mono';
    letter-spacing: 1.2px;
}

@media screen and (max-width: 992px) {
    .full-stack-header {
        font-size: 1.4em;
    }

    .code {
        font-size: 1.4em;
    }
}

@media screen and (max-width: 768px) {
    .full-stack {
        text-align: center;
        margin-left: 15px;
    }

    .full-stack-header {
        font-size: 1.2em;
    }

    .code {
        font-size: 1.2em;
    }

    .typehead {
        text-align: center;
    }
}

@media screen and (max-width: 465px) {
    .full-stack-header {
        font-size: 1.2em;
        text-align: left;
    }

    .element {
        font-size: 1.3em;
    }
}

.typed-cursor{
    color: #ffffff;
    font-size: 1.6em;
    padding-left: 3px;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/* =========================== About ========================== */
#about {
    background-color: #f7f7f7;
    padding: 50px 0;
}

.about-me {
    margin: 0 0 40px 0;
}

.about-me p {
    font-family: 'Open Sans', sans-serif;
    padding: 10px 5px;
    font-size: 1.2em;
    text-align: center;
    line-height: 2;
}

.highlight {
    color: #FF9D00;
}

/* ========================= Portfolio ========================= */
#portfolio {
    padding: 50px 0;
}

.education {
    margin: 30px 0 40px 0;
}

.logo {
    width: 100%;
    height: auto;
}

.university-list {
    margin: 30px 0;
    list-style-type: none;
}

.university {
    padding: 25px 0;
}

.university-name {
    font-family: 'Montserrat', sans-serif;
}

.degree {
    font-family: 'Open Sans', sans-serif;
}

.date {
    font-family: 'Montserrat', sans-serif;
    color: #93989E;
}

.companies {
    list-style-type: none;
    text-align: center;
    margin: 25px;
}

.role {
    margin-top: 15px;
    font-family: 'Open Sans', sans-serif;
}


/* ========================== Footer ========================= */
.footer {
    padding: 25px 0;
    background-color: #f7f7f7;
    border-top: 1px solid #e0e0e0;
    box-shadow: inset 0 15px 10px -20px rgba(0,0,0,0.8);
}

.footer p {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}