/************************************************************************************************/
/*--------------------------------- Styles : 91sanjay.github.com -------------------------------*/
/************************************************************************************************/

/* ======================== Grid and Misc =======================*/
body {
    background-color: #ffffff;
    position: relative;
}

ul {
    padding: 0;
    list-style-type: none;
    margin: 0;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.heading {
    display: block;
    text-align: center;
}

.heading h3 {
    display: inline-block;
    font-family: 'Cabin', sans-serif;
    margin-top: 35px;
    border-bottom: solid 2px #4C01B0;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.content {
    padding-left: 10px;
}

.sub-heading {
    margin: 25px 0;
    font-family: 'Cabin', sans-serif;
    display: inline-block;
}

.sub-heading::after {
    content: '';
    display: block;
    width: 50%;
    margin: 10px auto;
    border-top: 2px dotted red;
}

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot');
    src: url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon-home3:before {
    content: "\e900";
    font-family: 'icomoon';
}

.icon-map:before {
    content: "\e902";
    font-family: 'icomoon';
}

.icon-bug:before {
    content: "\e905";
    font-family: 'icomoon';
}

.icon-search:before {
    content: "\e903";
    font-family: 'icomoon';
}

.icon-wrench:before {
    content: "\e904";
    font-family: 'icomoon';
}

.icon-file-text2:before {
    content: "\e901";
    font-family: 'icomoon';
}

.icon-evil:before {
    content: "\e907";
    font-family: 'icomoon';
}

.icon-twitter:before {
    content: "\e90b";
    font-family: 'icomoon';
}

.icon-mail3:before {
    content: "\e910";
    font-family: 'icomoon';
}

.icon-phone:before {
    content: "\e90f";
    font-family: 'icomoon';
}

.icon-linkedin2:before {
    content: "\e90d";
    font-family: 'icomoon';
}

.icon-github:before {
    content: "\e911";
    font-family: 'icomoon';
}

.icon-facebook:before {
    content: "\e909";
    font-family: 'icomoon';
}

.icon-google-plus:before {
    content: "\e908";
    font-family: 'icomoon';
}

.icon-instagram:before {
    content: "\e90a";
    font-family: 'icomoon';
}

.icon-database:before {
    content: "\e90e";
    font-family: 'icomoon';
}

.icon-lab:before {
    content: "\e912";
    font-family: 'icomoon';
}

.icon-display:before {
    content: "\e90c";
    font-family: 'icomoon';
}

.icon-embed2:before {
    content: "\e913";
    font-family: 'icomoon';
}

.icon-download2:before {
    content: "\e906";
    font-family: 'icomoon';
}

@media screen and (max-width: 767px) {
    .heading h3, .sub-heading {
        font-size: 1.4em;
    }

    .sub-heading {
        margin-left: 15px;
    }
}

/* ========================= Navigation ======================== */
.nav-container {
    margin: 0;
}

.custom-nav {
    background-color: #58D7E5;
    background-image: linear-gradient(to right, #2E2E74, #4845AB);
    margin: 0;
    padding: 10px 15px;
    border: 0;
    border-radius: 0;
}

.navbar-default .navbar-brand {
    font-family: 'Sacramento', cursive;
    font-size: 2.2em;
    color: #FFFFFF;
    margin-left: 15px !important;
}

.navbar-brand:hover {
    color: #eeeeee !important;
}

.nav > li {
    margin-right: 40px;
}

.navbar-right {
    margin-left: 15px;
    margin-right: 15px;
}

.nav-link {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 1.2em;
    color: #FFFFFF !important;
    padding: 15px 0 !important;
}

.navbar-default .navbar-toggle {
    border: 0;
    border-radius: 0;
}

.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
    border-radius: 0;
}

@media screen and (min-width: 768px) {
    .active a {
        background-color: transparent !important;
    }

    .active:after {
        display: block;
        position: absolute;
        left: 0;
        width: 100%;
        bottom: 5px;
        height: 3px;
        background-color: #0B0B0D;
        content: "";
        transition: width 0.7s;
    }

    .nav-link:after {
        display: block;
        position: absolute;
        left: 0;
        width: 0;
        bottom: 5px;
        height: 3px;
        background-color: #0B0B0D;
        content: "";
        transition: width 0.3s;
    }

    .nav-link:hover:after {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .navbar-nav li:hover {
        background-color: #1F1F1F;
        opacity: 0.8;
    }

    .nav-link {
        text-align: center;
        font-size: 1em;
        z-index: 1000;
        opacity: 1;
    }

    .navbar-collapse {
        border: 0;
    }

    .nav > li {
        margin-right: 0;
    }
}

@media screen and (max-width: 465px) {
    .navbar-default .navbar-brand {
        font-size: 1.8em;
    }
}

/* ========================= Jumbotron ======================== */
.hero {
    margin-top: 70px;
    background-color: #4DB0C0;
    background-image: linear-gradient(to right, #2E2E74, #4845AB);
}

.navbat-stick {
    background-color: #4DB0C0;
}

.scene-container img {
    width: 100%;
    height: auto;
}

@media screen and (min-width: 992px) {
    .scene-container img {
        width: 85%;
    }
}

@media screen and (max-width: 768px) {
    .scene-container {
        padding-left: 0;
        padding-right: 60px;
    }
}

/* =========================== Banner ========================== */
.banner {
    border-top: dotted 2px #ffffff;
    background-color: #25064C;
    height: 100px;
}

.banner-container {
    margin-top: 25px;
}

.full-stack {
    text-align: right;
    margin-top: 10px;
    margin-left: -30px;
}

.full-stack-header {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #ffffff;
    display: inline;
}

.code {
    padding-left: 20px;
}

.typehead {
    margin-top: 5px;
}

.element {
    font-size: 1.6em;
    color: #FF9D00;
    font-family: 'Droid Sans Mono';
    letter-spacing: 1.2px;
}

@media screen and (max-width: 992px) {
    .full-stack-header {
        font-size: 1.4em;
    }

    .code {
        font-size: 1.4em;
    }
}

@media screen and (max-width: 768px) {
    .full-stack {
        text-align: center;
        margin-left: 15px;
    }

    .full-stack-header {
        font-size: 1.2em;
    }

    .code {
        font-size: 1.2em;
    }

    .typehead {
        text-align: center;
    }
}

@media screen and (max-width: 465px) {
    .full-stack-header {
        font-size: 1.2em;
        text-align: left;
    }

    .element {
        font-size: 1.3em;
    }
}

.typed-cursor {
    color: #ffffff;
    font-size: 1.6em;
    padding-left: 3px;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* =========================== About ========================== */
#about {
    background-color: #f7f7f7;
    padding: 50px 0;
}

.about-me {
    margin: 0 0 40px 0;
}

.about-me p {
    font-family: 'Open Sans', sans-serif;
    padding: 10px 5px;
    font-size: 1.2em;
    text-align: center;
    line-height: 2;
}

.highlight {
    color: #FF9D00;
}

/* ========================= Portfolio ========================= */
#portfolio {
    padding: 50px 0;
}

.education-container {
    margin: 15px 0;
}

.logo {
    width: 100%;
    height: auto;
}

.university-list {
    margin: 30px 0;
}

.university {
    padding: 25px 0;
}

.university-name {
    font-family: 'Montserrat', sans-serif;
}

.degree {
    font-family: 'Open Sans', sans-serif;
}

.date {
    font-family: 'Montserrat', sans-serif;
    color: #93989E;
}

.icon {
    font-size: 1.6em;
    margin-right: 15px;
    color: #33172A;
}

.icon:before {
    background-color: #FFFFFF;
    border-radius: 50%;
    padding: 0.7em;
    border: 1px solid #eee;
}

.projects {
    margin-left: 15px;
}

.project {
    padding: 40px 0;
}

.project-name {
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    vertical-align: top;
    font-size: 1.2em;
    color: #262626;
}

.project-name:hover {
    color: #7a26e8;
}

.skills-container {
    border-top: 1px dashed #9f9f9f;
    border-bottom: 1px dashed #9f9f9f;
    padding: 20px 0 40px 0;
}

.skill-title {
    font-family: 'Montserrat', sans-serif;
    color: #1F1F1F;
}

.skills-wrap {
    margin: 20px 0;
}

.skills {
    font-family: 'Cabin', sans-serif;
    font-size: 1.1em;
    color: #767f83;
}

.process-container {
    display: block;
}

.process-container img {
    width: 100%;
    height: auto;
}

.work-container {
    background-color: #fafafa;
    box-shadow: inset 0 15px 15px -20px rgba(0, 0, 0, 0.7);
    padding: 20px 0 40px 0;
}

.workexp-container {
    padding: 20px 0;
}

.sungard {
    padding: 5px 0;
}

.more {
    color: #e12974;
    padding-bottom: 2px;
    border-bottom: 1px dotted #e12974;
}

.more:hover {
    color: #7a26e8;
    text-decoration: none;
}

.companies {
    text-align: center;
    margin: 25px;
}

.role {
    margin-top: 15px;
    font-family: 'Open Sans', sans-serif;
}

.modal-content {
    border-radius: 0;
}

.modal-title {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
    margin-left: 10px;
}

.close {
    opacity: 1;
}

.close-button {
    font-size: 2em;
    color: #1F1F1F;
}

@media screen and (max-width: 767px) {
    .project {
        padding: 30px 0;
    }

    .project-name {
        font-size: 1.1em;
    }

    .process-container {
        display: none;
    }

    .skills-area {
        margin-left: 20px;
        margin-top: -10px;
    }
}

@media screen and (max-width: 991px) {
    .skill-title {
        font-size: 1.2em;
    }

    .skills {
        font-size: 1em;
    }
}

/* ========================== Contact ========================= */
.contact {
    background-color: #f7f7f7;
    box-shadow: inset 0 15px 15px -20px rgba(0, 0, 0, 0.7);

}

.contact-me {
    text-align: center;
    margin: 20px 0;
}

.note {
    font-family: 'Open Sans', sans-serif;
}

.contact-details {
    margin: 40px 0;
}

.contact-details li {
    margin: 0 5px;
}

.contact-details li a {
    font-size: 1.6em;
    color: #767f83;
}

.contact-details li a:hover {
    text-decoration: none;
    color: #1F1F1F;
}

.resume {
    padding: 0 30px 30px 30px;
    text-align: center;
}

.resume p {
    font-family: 'Open Sans', sans-serif;
}

.resume a {
    text-align: center;
    font-size: 1.4em;
    font-family: 'Open Sans', sans-serif;
    color: #767f83;
    padding: 0 20px;
}

.btn-download {
    border-radius: 0;
}

/* ========================== Footer ========================= */
.footer {
    padding: 25px 0;
    background-color: #f7f7f7;
    border-top: 1px solid #e0e0e0;
}

.footer p {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}