/************************************************************************************************/
/*--------------------------------- Styles : sanjayrajashekhar.io ------------------------------*/
/************************************************************************************************/

/* ========================= Navigation ======================== */
.nav-container {
    margin: 0;
    background-image: linear-gradient(to right, #58D7E5, #3DFFEA);
}

.custom-nav {
    background-color: transparent;
    margin: 0;
    padding: 10px 15px;
    border: 0;
}

.navbar-default .navbar-brand {
    font-family: 'Sacramento', cursive;
    font-size: 2.2em;
    color: #1F1F1F;
    margin-left: 15px !important;
}

.navbar-brand:hover {
    color: #44444C !important;
}

.nav > li {
    margin-right: 30px;
}

.navbar-right {
    margin-right: 15px;
}

.nav-link {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 1.2em;
    color: #1F1F1F !important;
    padding: 15px 0 !important;
}

.navbar-default .navbar-toggle {
    border: 0;
    border-radius: 0;
}

.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #1F1F1F;
    border-radius: 0;
}

@media screen and (min-width: 768px) {
    .nav-link:after {
        display: block;
        position: absolute;
        left: 0;
        width: 0;
        bottom: 5px;
        height: 3px;
        background-color: #0B0B0D;
        content: "";
        transition: width 0.3s;
    }

    .nav-link:hover {
        color: #44444C !important;
    }

    .nav-link:hover:after {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .nav-link {
        text-align: center;
        font-size: 1em;
    }

    .nav-link:hover {
        color: #44444C !important;
    }

    .navbar-collapse {
        border: 0;
    }
}